streamlit
pypdf2
langchain

python-dotenv
faiss-cpu
openai

# Document parsing
unstructured[all-docs]
lxml
pillow
python-magic-bin
pytesseract

# LangChain + RAG
langchain
langchain-community
langchain-openai
langchain-groq
huggingface_hub[hf_xet]
sentence-transformers

# Vector DB and tokenizer
chromadb
tiktoken

-e .