# Document parsing
unstructured[all-docs]
lxml
pillow
python-magic-bin
pytesseract

# LangChain + RAG
langchain
langchain-community
langchain-openai
langchain-groq
huggingface_hub[hf_xet]

# Vector DB and tokenizer
chromadb
tiktoken

# Environment management
python-dotenv
